.main__titulo {
    font-family: $playfair;
    font-weight: $regular;
    font-size: $xx-large;
    font-style: italic;
}

.parrafo-general {
    font-family: $roboto;
    font-weight: $lijera;
    font-size: $medium;
    line-height: 45px;
}

.texto-fechas {
    font-family: $playfair;
    font-weight: $regular;
    font-size: $medium;
    line-height: 45px;
}