.header {
    margin: 0px;
    background-color: $Eerie-black;
    font-family: $roboto;
    font-size: $medium;
    font-weight: 400;
}

.header__img-logo {
    width: 40%;
    margin-left: 130px;
}

.navbar-nav {
    margin-right: 180px;
}

.nav-link {
    // display: inline;
    color: $white;
    float: right;
    margin-right: 1.5rem;
}

// MEDIA QUERYS
@media (max-width: 575.98px) {
    .header__img-logo {
        width: 30%;
        margin-left: 0px;
    }
}