.header {
    margin: 0px;
    background-color: $Eerie-black;
    height: 80px;
    font-family: $roboto;
    font-size: $medium;
    font-weight: 400;
}

.navigation_lista {
    list-style: none;
    color: $white;
    margin-right: 150px;
}

.navigation_item {
    display: inline;
    float: right;
    margin-right: 1.5rem;
}