.boton-principal {
    font-family: $roboto;
    font-size: $medium;
    color: $white;
    background-color: $Nickel;
    padding: 20px 19px;
    border: none;
    border-radius: 50px;
    margin-right: 12px;
}