/*  
ESQUEMAS DE COLORES 
PRIMER ESQUEMA DE COLOR 
*/

$white: #FFF;
$platinum: #E6E7E7;
$gray: #D1D1D1;
// SEGUNDO ESQUEMA DE COLOR
$fuzzy-wuzzy: #E56353;
$Ruddy-pink: #D76C69;
$Spanish-pink: #ECBCBA;
// TERCER ESQUEMA DE COLOR
$Eerie-black: #121619;
$Raisin-black: #222323;
$Nickel:#6C6E70;

/*

// FONT FAMILY*/

$playfair: 'Playfair Display',
serif;
$roboto: 'Roboto',
serif;

/* 
FONT SIZES */

$xx-large: 70px;
$x-large: 30px;
$large:18px;
$medium: 16px;
$small: 12px;

/* FONT WEIGHT
*/

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;